.vscode/**
.vscode-test/**
src/**/*.test.ts
src/**/*.spec.ts
out/test/**
node_modules/**
test/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
**/yarn.lock
**/package-lock.json
**/*.vsix
**/*.map
.nyc_output
coverage/
**/.eslintrc.json